# -*- coding:utf8 -*-
input:
  googlereader:
    url: http://www.google.com/reader/public/atom/user/XXXXX/state/com.google/starred
  twitterfav:
    url: http://twitter.com/favorites/XXXXX.rss
  twitter:
    url: http://twitter.com/statuses/user_timeline/XXXXX.rss
    keyword: "メモ"
output:
  instapaper:
    username: XXXX@example.com
    password: xxXpasswordXxx
  mail:
    mail_addr: XXXX@example.com
    from_addr: infodrawer@example.com # if use gmail, replaced to the addr
    smtp: localhost 
    insta: yes
    subject: "[あとで]"
    use_gmail: yes # if yes, smtp will be ignored
    gmail_addr: XXXX@gmail.com
    gmail_pass: xxXgmailpassXxx
  evernote:
    mail_addr: XXXX@m.evernote.com
    from_addr: infodrawer@example.com # if use gmail, replaced to the addr
    note: "あとで"
    insta: yes
    tag: "infodrawer"
    smtp: localhost 
    use_gmail: yes # if yes, smtp will be ignored
    gmail_addr: XXXX@gmail.com
    gmail_pass: xxXgmailpassXxx
    
